@import '~@angular/material/core/theming/all-theme';
@include md-core();
$primary: md-palette($md-blue, 600);
$accent:  md-palette($md-orange, 400);
$warn:    md-palette($md-red, 500);
$theme: md-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);